<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/2_5/plugin.xsd">
    <name>custom_content</name>
    <description>custom_content</description>
    <author></author>
    <version>1.0.0</version>
    <minServerVersion>6.0</minServerVersion>
    <maxServerVersion>6.0.9.9</maxServerVersion>
    
	<!-- you will want to change your class name here! -->
    <!--<class>CustomContentPlugin</class>-->
    <urlmapping prefix="/topic" class="customContent.CustomContentUrlMapping"/>
    <urlmapping prefix="/topic/*" class="customContent.CustomContentUrlMapping"/>
    <urlmapping prefix="/submit" class="customContent.CustomContentUrlMapping"/>


    <!--
    <authorURL>
    <pluginURL>
    <databaseKey>
    <databaseVersion>
    <components>
    <css>
    <soy>
    <javascript>
    <widget>
    <macro>
    <urlmapping>
    <sitemesh>
    -->

</plugin>
